PORT=3000
JWT_SECRET=replace_with_your_jwt_secret
TMDB_API_KEY=replace_with_your_tmdb_api_key

TELEGRAM_BOT_TOKEN=replace_with_your_telegram_bot_token
TELEGRAM_BOT_NAME=kinologin8273_bot
MONGO_URI=changeme
KINOPOISK_API_KEY=replace_with_your_kinopoisk_api_key
KODIK_TOKEN=replace_with_your_kodik_token

FANART_API_KEY=replace_with_your_fanart_api_key

REDIS_URL=changeme
